target/
*.class
*.log

.idea/
*.iml
.vscode/

nbproject/private/
build/
dist/

.DS_Store
Thumbs.db

uploads/pdfs/*
uploads/images/*
!uploads/pdfs/.gitkeep
!uploads/images/.gitkeep

src/main/resources/database.local.properties
